<div class="book-form">
  <div class="text-center">Book</div>
  <div class="form-group">
    <label>Title:</label>
    <input class="form-control" [(ngModel)]="book.title">
  </div>
  <div class="form-group">
    <label>Authors:</label>
    <input class="form-control" [(ngModel)]="book.authors">
  </div>
  <div class="form-group">
    <label>Category:</label>
    <input class="form-control" type="color" [(ngModel)]="book.category">
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-check-input" [(ngModel)]="book.isBestseller">
    <label class="checkbox-label">Bestseller</label>
  </div>
  <button type="button" class="btn btn-danger" (click)="cancel.emit()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="save.emit(book)">Save</button>
</div>
