<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" *ngIf="!editedBook" (click)="add()">Add</a>
  </li>
</ul>

<app-book-form *ngIf="editedBook"
               [book]="editedBook"
               (cancel)="reset()"
               (save)="save($event)"/>

<div class="row justify-content-around books">
  <app-book-card *ngFor="let book of books"
                 [book]="book" class="book-card"
                 [isSelected]="book.id === editedBook?.id"
                 (select)="edit(book)">
    <app-rating book-card-footer [rating]="book.rating"></app-rating>
  </app-book-card>
</div>
