<div class="card book" (click)="onSelect()"
     [style.border-bottom-color]="book.category">
  <img src="https://placehold.it/320x240" alt="Cover">
  <ng-content select="[book-card-header]"></ng-content>
  <div class="card-body">
    <h4 class="title truncate" [class.selected]="isSelected">{{ book.title }}</h4>
    <p class="card-text truncate authors">{{ book.authors }}</p>
    <!--<app-rating [rating]="book.rating"></app-rating>-->
    <ng-content select="[book-card-footer]"></ng-content>
  </div>
  <small class="text-center m-1">Bestseller</small>
</div>
