.book {
  width: 320px;
  min-width: 400px;
  border-bottom: 4px solid black;
  margin-bottom: 30px;
  height: 460px;
}

.title {
  padding: 4px 0;
}

.authors {
  color: gray;
  letter-spacing: 2px;
}

.selected {
  color: #d33a36;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
